{% extends "main_dev.html" %} {% block title %} Cell Tracking Menu {% endblock %}
{% block content %}
<section class="content">
    <div id="" class="RegitMenu">
            
        <label for="tracking_type" style="color: rgb(2, 4, 22);font-weight: 800; font-size:28px;"> Choose Registration Type: 
            <ul class="regit-menu">
                <li><a href="supplierRegit"> Supplier Registration</a></li>
                <li><a href="modelRegit">Model Registration</a></li>
                <li><a href="#">Receive Lot Registration</a></li>
                <li><a href="#">Box Registration</a></li>
                <li><a href="#">Cell Registration</a></li>
                <li><a href="#">Module Registration</a></li>
            </ul>
        </label> 
</section>
{% endblock %}